<!-- Email message sent to users when they request to change their password -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset</title>
</head>
<body>
    <h1>Duloft Password Reset</h1>
    <p>Dear {{ first_name }}, this eamil was sent to u beacuse you requested to reset your password. Please reset your password by clicking the link below:</p>
    <p><a href="{{ rest_link }}">Reset Password</a></p>
    <p>If you didn't request to change your password, please ignore this email.</p>
</body>
</html>