{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}Duloft | enter new password{% endblock title %}

{% block form_heading %}Enter new password below{% endblock form_heading %}

{% block form_contents %}

    <form method="POST">
        {% csrf_token %}

        <!-- Password -->
        <div class="div">
            <label for="signup_password">Password <span class="error">*</span></label>
            <div class="passwordInput" id="passwordContainer">
                <input type="password" class="password" id="password" name="new_password" placeholder="Enter Password" autocomplete="new-password">
                <div class="showPasswordIcon"><img src="/icons/show-password.png" alt="" id="showPasswordIcon"></div>
            </div>
            <small id="error_password" class="error-message"></small>
        </div>

        <!-- Confirm Password -->
        <div class="div">
            <label for="signup_confirm_password">Confirm Password <span class="error">*</span></label>
            <div class="passwordInput" id="conformPasswordContainer">
                <input type="password" class="password" id="confirm_password" name="confirm_password" placeholder="Re-enter Password" autocomplete="new-password">
                <div class="showPasswordIcon"><img src="/icons/show-password.png" alt="" id="showPasswordIcon"></div>
            </div>
            <small id="error_confirm_password" class="error-message"></small>
        </div>

        <button type="submit" class="primary-btn">Reset</button>
    </form>

{% endblock form_contents %}