{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}Duloft | Reset Passwordt{% endblock title %}

{% block form_heading %}Forgot Password{% endblock form_heading %}

{% block form_contents %}
    <form method="post" class="signUpForm">
        {% csrf_token %}

        <!-- Email -->
        <label for="signup_email">Email <span class="error">*</span></label>
        <input type="email" id="email" name="password_reset_email" placeholder="Enter Email" autocomplete="email">
        <small id="error_email" class="error-message"></small>

        <button type="submit" class="primary-btn">Verify</button>
    </form>

{% endblock form_contents %}

